<div>
    <div class="layout-row">
        <span class="flex">Hours worked this week</span>
        <!-- <span class="ftt-value ftt-right">{{statistics.totalHousWorkedWeek}}</span> -->
    </div>
    <div class="layout-row">
        <span class="flex">Hours worked this month</span>
        <!-- <span class="ftt-value ftt-right">{{statistics.totalHousWorkedMonth}}</span> -->
    </div>
    <hr/>
    <div class="layout-row">
        <span class="flex">Remaining vacation days</span>
        <!-- <span class="ftt-value ftt-right">{{statistics.totalAvailableVacationDays}}</span> -->
    </div>
</div>