<h1 md-dialog-title>{{ title }}</h1>
<div md-dialog-content (keydown)="getValues(currentPassword.value,newPassword.value,confirmPassword.value);keyDownFunction($event);">
    <table>
        <tr>
            <td> 
            <label>Password length should be at least 9 !</label>
            <br>
                <md-input-container>
                    <input mdInput type="password" placeholder="Current Password" #currentPassword>
                </md-input-container>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <md-input-container>
                    <input mdInput type="password" placeholder="New Password" #newPassword>
                </md-input-container>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <md-input-container>
                    <input mdInput type="password" placeholder="Confirm Password" #confirmPassword>
                </md-input-container>
            </td>
        </tr>
    </table>
    <label>After changing your password, you will be redirected to Login !</label>
    <br>
</div>
<div md-dialog-actions>
    <button type="button" md-button (click)="getValues(currentPassword.value,newPassword.value,confirmPassword.value);checkMandatoryFields();">OK</button>
    <button type="button" md-button (click)="dialogRef.close()">Cancel</button>
</div>
